
--SELECT *
--FROM [NHSE_Sandbox_DC].[dbo].[varTool_ACC_Activity_Model$]

--SELECT *
--FROM [NHSE_Sandbox_DC].[dbo].[varTool_Benchmark_Peers$]


--SELECT *
--FROM [NHSE_Sandbox_DC].[dbo].[varTool_NCC_Activity_Model$]

--SELECT *
--FROM [NHSE_Sandbox_DC].[dbo].[varTool_Spend_Model$]

SELECT * from NHSE_Sandbox_DC.dbo.varTool_Model_Need_Indices$